@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* Import Nexa Bold and Light fonts */
@font-face {
  font-family: 'Nexa Bold';
  src: local('Nexa Bold'), url('./fonts/nexa_bold/NexaDemo-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nexa Light';
  src: local('Nexa Light'), url('./fonts/nexa_bold/NexaDemo-Light.ttf') format('truetype');
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Nexa Light';
  box-sizing: border-box;
  height: 100%;
}

.bold-text {
  font-family: 'Nexa Bold';
}

a {
  text-decoration: none;
  color: inherit;
}
